alembic==1.13.1
asyncpg==0.29.0
fastapi==0.109.1
fastapi-pagination==0.12.5
passlib==1.7.4
python-dotenv==1.0.0
python-jose==3.3.0
python-multipart
pytest==8.0.0
pytest-asyncio==0.21.0
pydantic==2.6.0
pydantic[email]==2.6.0
PyJWT==2.8.0
uvicorn==0.27.0
sqlalchemy==2.0.25
httpx==0.26.0
requests==2.31.0
types-requests==2.31.0.1


# LINTING
isort==5.12.0
pylint==2.13.9
mypy==1.8.0
ruff==0.2.0

# REQUIRED FOR LINTING SQLALCHEMY
# IGNORE THE FLASK - IT IS COMPATIBLE WITH FASTAPI.

pylint-flask-sqlalchemy
sqlalchemy[mypy]
types-python-jose
types-passlib

# dev tooling
faker==15.3.4
coverage

# celery
celery==5.3.6
psycopg==3.1.17
psycopg-binary==3.1.17
redis==4.5.5

# observability

prometheus-client==0.19.0
opentelemetry-instrumentation-fastapi==0.43b0
opentelemetry-instrumentation-logging==0.43b0
opentelemetry-exporter-otlp==1.22.0
opentelemetry-distro==0.43b0

